<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styling -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>YelpCamp</title>
</head>
</head>
<body>
<div class="page-wrapper ">
    <div id="carouselExampleSlidesOnly" class="vh-100 carousel slide w-100" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="vh-100 carousel-item active">
                <img class="h-100 w-100 carousel-image" src="https://images.unsplash.com/photo-1506535995048-638aa1b62b77?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" class="d-block w-100" alt="camping tent">
                <div class="carousel-caption d-flex align-content-center h-100">

                </div>
            </div>
            <div class="vh-100 carousel-item">
                <img class="h-100 w-100 carousel-image" src="https://images.unsplash.com/photo-1456428199391-a3b1cb5e93ab?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80" class="d-block w-100" alt="man in the mountains">
            </div>
            <div class="vh-100 carousel-item">
                <img class="h-100 w-100 carousel-image" src="https://images.unsplash.com/photo-1510328891636-a131d5d751e5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1504&q=80" class="d-block w-100" alt="camper in a tent">
            </div>
        </div>
    </div>
    <div class="carousel-overlay">
        <div class="inner-overlay">
            <h1 class="display-1 mb-2">YelpCamp</h1>
            <p class="lead my-3">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            <a class="btn btn-lg btn-success" href="/campgrounds">View campgrounds</a>
        </div>
                     
    </div>
</div>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>